.header__nav {
    &-items {
        @include flex-v-center;
        margin-top: 38px;
        &-item {
            padding-left: 40px;
            &-item-href {
                color: #FFFFFF;
            }
        }
    }
}