.benefits__container {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
    &-title {
        margin-top: 220px;
        font-weight: 600;
        font-size: 50px;
        font-family: 'Jost', sans-serif;
    }
}

.benefits__container-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
}

.benefits__container-text {
    width: 360px;
    &-title {
        font-family: 'Jost', sans-serif;
        margin-top: 60px;
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 24px;
    }
    &-text {
        font-family: 'Jost', sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
        margin-bottom: 220px;
    }
}