<section class="benefits">
    <div class="benefits__container">
        <h2 class="benefits__container-title">
            Что вы получите после курса
        </h2>
        <div class="benefits__container-card">
            <div class="benefits__container-text">
                <h4 class="benefits__container-text-title">
                    Удостоверение
                </h4>
                <p class="benefits__container-text-text">
                    Дающее право преподавать робототехнику для детей 6-12 лет в образовательных учреждениях
                </p>
            </div>
            <div class="benefits__container-text">
                <h4 class="benefits__container-text-title">
                    Знания
                </h4>
                <p class="benefits__container-text-text">
                    По основам разработки учебно-методических комплексов по робототехнике и программированию
                </p>
            </div>
            <div class="benefits__container-text">
                <h4 class="benefits__container-text-title">
                    Практику
                </h4>
                <p class="benefits__container-text-text">
                    Возможность пройти практику по преподаванию робототехники на базе R:ED LAB (в оффлайн или онлайн формате)
                </p>
            </div>
        </div>

    </div>
</section>