<footer class="footer">
    <div class="footer__container container">
        <div class="footer__container-top">
            <div class="footer__container-top-left">
                <h2 class="footer__container-top-left-title">
                    Запишитесь на курс со скидкой 10%
                </h2>
                <p class="footer__container-top-left-text">
                    Акция действительна до 10 марта 2022 года
                </p>
            </div>
            <div class="footer__container-top-right">
                <input type="text" class="footer__container-top-name" value="Имя">
                <input type="phone" class="footer__container-top-phone" value="Телефон">
                <input type="e-mail" class="footer__container-top-email" value="E-mail">
                <button class="footer__container-top-btn">Оформить заявку</button>
            </div>
        </div>
    </div>
    <div class="footer__container-botton">
        <div class="footer__container-botton-left">
            <h2 class="footer__container-botton-logo">
                ROBO.SCHOOL
            </h2>
            <p class="footer__container-botton-text">
                © ROBO.SCHOOL
            </p>
        </div>
        <div class="footer__container-botton-right">
            <p class="footer__container-botton-right-number">
                +7 800 000 11 22
            </p>
        </div>
    </div>

</footer>