<header class="header">
    <div class="container__fluid container">
        <a class="header__href" href="#">
            <h1 class="header__href-logo">ROBO.SCHOOL</h1>
        </a>

        <nav class="header__nav">
            <ul class="header__nav-items">
                <li class="header__nav-item">
                    <a class="header__nav-item-href" href="#">
                        О школе
                    </a>
                </li>
                <li class="header__nav-item">
                    <a class="header__nav-item-href" href="#">
                        Тренеры
                    </a>
                </li>
                <li class="header__nav-item">
                    <a class="header__nav-item-href" href="#">
                        Стоимость
                    </a>
                </li>
            </ul>
        </nav>
        <h1 class="header__namber">
            <a class="header__namber-link" href="#" type="namber">+7 800 000 11 22</a>
        </h1>
    </div>
</header>