<section class="packages">
    <div class="packages__container">
        <h1 class="packages__container-title">
            Выберите нужный пакет
        </h1>
        <div class="packages__container-items">
            <div class="packages__container-item activ">
                <h2 class="packages__container-item-title">
                    – PRO –
                </h2>
                <p class="packages__container-item-prise">
                    20.000 ₽
                </p>
                <p class="packages__container-item-text">
                    УМК по робототетхнике и программированию
                </p>

                <button class="packages__container-item-btn">Оставить заявку</button>


            </div>
            <div class="packages__container-item">
                <h2 class="packages__container-item-title">
                    – ROBO –
                </h2>
                <p class="packages__container-item-prise">
                    15.000 ₽
                </p>
                <p class="packages__container-item-text">
                    УМК по робототетхнике
                </p>
                <button class="packages__container-item-btn">Оставить заявку</button>
            </div>
            <div class="packages__container-item">
                <h2 class="packages__container-item-title">
                    – PROG –
                </h2>
                <p class="packages__container-item-prise">
                    10.000 ₽
                </p>
                <p class="packages__container-item-text">
                    УМК по программированию
                </p>
                <button class="packages__container-item-btn">Оставить заявку</button>
            </div>
        </div>

    </div>
</section>