<section class="peculiarities">
    <div class="container__peculiarities">
        <div class="container__peculiarities-text">
            <p class="container__peculiarities-text-text">
                <span>Robo School</span> – учреждение для формирования кадрового педагогического резерва в сфере робототехникии программирования
            </p>
        </div>
        <div class="container__peculiarities-number">
            <div class="container__peculiarities-number-item">
                <p class="container__peculiarities-number-number">
                    10
                </p>
                <p class="container__peculiarities-number-text">
                    УМК по различным направлениям по робототехнике
                </p>
            </div>
            <div class="container__peculiarities-number-item">
                <p class="container__peculiarities-number-number">
                    20
                </p>
                <p class="container__peculiarities-number-text">
                    Школ, в которых запущена робототехника
                </p>
            </div>
            <div class="container__peculiarities-number-item">
                <p class="container__peculiarities-number-number">
                    100
                </p>
                <p class="container__peculiarities-number-text">
                    Педагогов прошедших курсы повышения квалификации
                </p>
            </div>
            <div class="container__peculiarities-number-item">
                <p class="container__peculiarities-number-number">
                    10 000
                </p>
                <p class="container__peculiarities-number-text">
                    Обученных детей на базе собственных центров
                </p>
            </div>



        </div>
    </div>
</section>