<section class="trainers">
    <div class="trainers__container container">
        <h2 class="trainers__container-title">
            Профессиональные тренеры
        </h2>

    </div>
    <div class="trainers__wrapper">
        <div class="swiper trening__content">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="trainers__item">
                        <picture>
                            <source srcset="img/slide-1.avif" type="image/avif">
                            <source srcset="img/slide-1.webp" type="image/webp">
                            <img class="image" loading="lazy" src="img/slide-1.png" alt="swipe-item" width="360px" height="500px">
                        </picture>
                        <div class="trainers__item-name">
                            Ирина Лайм
                        </div>
                        <div class="trainers__item-text">
                            преподаватель по робототехнике
                        </div>
                        <button class="trainers__item-btn">
                            Подробнее
                        </button>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="trainers__item">
                        <picture>
                            <source srcset="img/slide-2.avif" type="image/avif">
                            <source srcset="img/slide-2.webp" type="image/webp">
                            <img class="image" loading="lazy" src="img/slide-2.png" alt="swipe-item" width="360px" height="500px">
                        </picture>
                        <div class="trainers__item-name">
                            Марина Орлова
                        </div>
                        <div class="trainers__item-text">
                            преподаватель по робототехнике
                        </div>
                        <button class="trainers__item-btn">
                            Подробнее
                        </button>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="trainers__item">
                        <picture>
                            <source srcset="img/slide-3.avif" type="image/avif">
                            <source srcset="img/slide-3.webp" type="image/webp">
                            <img class="image" loading="lazy" src="img/slide-3.png" alt="swipe-item" width="360px" height="500px">
                        </picture>
                        <div class="trainers__item-name">
                            Максим Петров
                        </div>
                        <div class="trainers__item-text">
                            преподаватель по программированию
                        </div>
                        <button class="trainers__item-btn">
                            Подробнее
                        </button>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="trainers__item">
                        <picture>
                            <source srcset="img/slide-4.avif" type="image/avif">
                            <source srcset="img/slide-4.webp" type="image/webp">
                            <img class="image" loading="lazy" src="img/slide-4.png" alt="swipe-item" width="360px" height="500px">
                        </picture>
                        <div class="trainers__item-name">
                            Константин Назаров
                        </div>
                        <div class="trainers__item-text">
                            преподаватель по робототехнике
                        </div>
                        <button class="trainers__item-btn">
                            Подробнее
                        </button>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="trainers__item">
                        <picture>
                            <source srcset="img/slide-5.avif" type="image/avif">
                            <source srcset="img/slide-5.webp" type="image/webp">
                            <img class="image" loading="lazy" src="img/slide-5.png" alt="swipe-item" width="360px" height="500px">
                        </picture>
                        <div class="trainers__item-name">
                            Лиза Весенняя
                        </div>
                        <div class="trainers__item-text">
                            преподаватель по программированию
                        </div>
                        <button class="trainers__item-btn">
                            Подробнее
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>